:root{
    --preto:#0F0F0F;
    --branco:#F1F1F1;
    --cinza:#AAAAAA;
    --cinza-escuro:#2A2A2A;
    font-family: sans-serif;
}

html{
    height: 100vh;
    background-color: var(--preto);
}

*{
    margin: 0;
    padding: 0;
}


    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: var(--preto);
        padding: 10px 0px 10px 0px;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }

    .button-header{
        background-color: transparent;
        border: none;
        color: var(--branco);
    }

    .go-back{
        grid-column: 1 / 2;
        font-size: 1.4rem;
        font-weight: lighter;
    }

    .channel-name-header{
        grid-column: 2 / 6;
        font-size: 1em;
        color: var(--branco);
    }

    .cast-tv{
        grid-column: 7 / 8;
    }

    .search{
        grid-column: 8 / 9;
    }

    .options-header{
        grid-column: 9 / 10;
    }

  .channel-main{
        background-color: var(--preto);
        display: grid;
        grid-template-areas: 
        "channel-cover-mobile"
        "channel-summary"
        "subscribe"
        "channel-nav";
    }

    .channel-cover-mobile{
        grid-area:channel-cover-mobile;
        width: 100%;
        height: 100%;
    }

    .channel-summary{
        grid-area:channel-summary;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .channel-icon-main{
        margin-top: 10px;
        width: 4.5em;
        border-radius: 50%;
    }

    .channel-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .channel-name-main{
        color: var(--branco);
        font-size: 1.4rem;
    }

    .channel-description{
        color: var(--cinza);
        font-size: 0.7rem;
        text-align: center;
        padding: 10px 30px 0px 30px;
    }

    .subscribe{
        --color-subscribe:var(--branco);
        --color-text:var(--preto);
        display: flex;
        justify-content: center;
        gap: 1em;
        width: 90%;
        height: 4   0px;
        grid-area:subscribe;
        border: none;
        border-radius: 50px;
        font-weight: bold;
        background-color: var(--color-subscribe);
        color: var(--color-text);
        margin-top:20px;
        padding:5px;
        cursor: pointer;
        transition-duration: .6s;
    }

    .channel-nav{
        grid-area:channel-nav;
        display: flex;
        justify-content: space-around;
    }

    .buttons-channel-nav{
    padding: 20px 0px 20px 0px;
    border: none;
    background-color: transparent;
    color: var(--cinza);
    }

    .home{
        border-bottom:1px solid var(--branco);
        color: var(--branco);
    }


    .video-main{
        display: grid;
        grid-template-rows: 1fr 0.2fr;
        background-color: var(--preto);
    }

    .thumbnail-main{
        width: 100%;
    }

    .video-info-main{
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "channel-icon-video     video-title-main         video-options-main"
        "channel-icon-video     video-statistics-main    video-statistics-main";
    }

    .channel-icon-video{
        grid-area: channel-icon-video;
        width: 2.4rem;
        border-radius: 50%;
        padding: 10px;
    }
        .video-title-main{
        grid-area: video-title-main;
        color: var(--branco);
        font-weight: lighter;
        font-size: 1rem;
        padding: 10px 0px 0px 5px;
    }
        .video-statistics-main{
        grid-area: video-statistics-main;
        display: flex;
        gap: 1em;
        color: var(--cinza);
        font-size: 0.65em;
        padding-left:5px;
    }


    .video-options-main{
        background-color: transparent;
        border: none;
        color: var(--branco);
    }

    .playlist-1{
        padding-bottom: 30px;

    }

    .playlist-title{
        color: var(--branco);
        font-size: 1.2em;
        padding: 10px 0px 10px 10px;
    }

    .video{
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-areas: 
        "thumbnail-common   video-info";
        padding: 0px 10px 10px 10px;
        gap: 10px;
    }
    
    .channel-name-video, .views, .upload-time{
        color: var(--cinza);
    }

    .thumbnail-common{
        grid-area: thumbnail-common;
        width: 100%;
        border-radius: 20px;
        padding: 0px ;
    }

    .video-info{
        grid-area: video-info;
    }

    .video-title{
        grid-area: video-title;
        color: var(--branco);
        font-size: 1em;
        font-weight: lighter;
    }

    .video-options{
        grid-area: video-options;
        background-color: transparent;
        border: none;
        color: var(--branco);
        padding-right: .5rem;
    }

    .video-title-and-options{
        display: flex;
        justify-content:space-between;
        align-items: start;
    }

    .channel-name-video{
        grid-area: channel-name-video;
        font-size: 0.8em;
    }

    .video-statistics{
        grid-area: video-statistics;
        display: flex;
        gap: 1em;
        font-size: 0.8em;
    }

    .playlist-2{
        padding-bottom: 58px;
    }

    .nav-mobile{
        background-color: var(--preto);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height:max-content;
        padding: 10px 0px 10px 0px;
        border-top: 1px solid var(--cinza);
        position:fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .button-bottom-nav{
        color: var(--branco);
        border:none;
        background-color: transparent;
        font-size: 1.5rem;
    }

    .create{
        font-size: 2rem;
    }

    .pc{
    display: none;
}

/* Para PC */
    
@media (min-width: 1024px){
    .phone{
        display: none;
    }

    .pc{
        display: block;
    }


    header{
        grid-area: header;
        display: grid;
        grid-template-columns: 3em repeat(8, 1fr);
        grid-template-areas: 
        "menu logo-yt . search-tool search-tool search-tool search-tool . user-stuff";
        justify-content: center;
    }
    header button{
        color: var(--branco);
        background-color: transparent;
        border:none;
    }

    .menu{
        grid-area: menu;
        background-color: transparent;
        border: none;
        color: var(--branco);
        font-size: 1.5em;
    }

    .logo-yt{
        grid-area: logo-yt;
        height: 1.3em;
        margin-left: 15px;
    }

    .search-tool{
        grid-area: search-tool;
        display: flex;
        justify-content: center;
    }

    .search-bar{
        border: 1px solid var(--cinza-escuro);
        display: flex;
        justify-content: center;
        border-radius:15px;
        width: 100%;
        margin-right: 15px;
    }

    .input-search-bar{
        width: 100%;
        background-color: black;
        border:none;
        border-radius:15px 0px 0px 15px;
    }

    .lupa-search-bar{
        color: var(--branco);
        background-color: var(--cinza-escuro);
        border-radius:0px 15px 15px 0px;
        padding: 5px 20px 5px 20px;
    }

    .mic-search{
        grid-area: mic-search;
        background-color: var(--cinza-escuro);
        border-radius: 50%;
        width: 2.5em;
    }

    .user-stuff{
        grid-area:user-stuff;
        display: flex;
        justify-content: space-around;
    }
    .user-stuff img{
        border-radius: 50%;
        height: 1.9em;
    }

    .nav-desktop{
        grid-area: nav-desktop;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
    }
    .nav-desktop h5{
        font-size: 0.3em;
        font-weight: lighter;
        margin: 0px;
    }

    .button-bottom-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-section{
        display: grid;
        grid-template-columns: 5% 95%;
        grid-template-areas: 
        "nav-desktop channel-cover";
    }

    .channel-cover-desktop{
        grid-area: channel-cover;
        width: 100%;
    }

    .channel-main{
        display: flex;
        flex-direction: column;
    }

    .channel-container{
        display: grid;
        padding: 1% 15% 5% 15%;
    }

    .channel-summary{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .channel-info{
        flex-direction: row;
        gap: 20px;
    }

    .channel-icon-main{
        width: 7em;
        margin: 0;
    }

    .channel-name-main{
        padding: 0px;
    }
    
    .subscribers{
        color: var(--cinza);
        font-size: .7em;
    }

    .subscribe{
        width: auto;
        padding: 10px 20px;
        margin: 0 25px 0 0;
    }

    .channel-nav{
        justify-content: space-between;
        align-items: center;
    }

    .buttons-channel-nav{
        padding: 0px 30px 15px;
        margin-top: 50px;
    }
    .buttons-channel-nav:hover{
        border-bottom:2px solid var(--cinza);
    }

    .home{
        border-bottom:2px solid var(--branco);
        color: var(--branco);
    }

    .video-area-desktop{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "video-main video-main video-main video-main video-main video-main"
        "playlist-1 playlist-1 playlist-1 playlist-1 playlist-1 playlist-1 "
        "playlist-2 playlist-2 playlist-2 playlist-2 playlist-2 playlist-2"
        ;
        padding-top: 30px;
    }

    .video-main{
        grid-area: video-main;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-areas: 
        "thumbnail-main video-info-main video-info-main . .";
    }

    .thumbnail-main{
        grid-area: thumbnail-main;
        border-radius: 20px;
    }

    .video-info-main{
        display: flex;
        grid-area: video-info-main;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 0px 0px 10px;
    }

    .video-title-main{
        padding: 0;
    }


    .video-description-main{
        color: var(--branco);
        font-size: 0.7em;
    }
    .video-description-main a{
        color: #58a6ff;
    }

    .playlist-name{
        display: flex;
        align-items: center;
    }
    .playlist-name button{
        display: inherit;
        align-items: center;
        background-color: transparent;
        border: none;
        color: var(--cinza);
        margin-left: 20px;
        justify-content: center;
        height: 2em;
        width: 5.5em;
    }
    .playlist-name button{
        border-radius: 15px;
    }
    .playlist-name button:hover{
        background-color: var(--cinza-escuro);
    }

    .playlist-name i{
        font-size: 1.5em;
    }

    .playlist-1{
        grid-area: playlist-1;
        display: grid;

        padding-top: 30px;
    }
    
    .playlist-2{
        grid-area: playlist-2;
        padding: 0;
    }

    .videos-playlist{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    .video{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}
